<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Define the targets where the logs are to be written -->
  <targets>
    <!-- File target for logging -->
    <target name="logfile" xsi:type="File"
            fileName="C:\logs\${shortdate}_logfile.txt"
            layout="${longdate} ${level:uppercase=true} ${message}" />
  </targets>

  <!-- Define rules to map from logger name to target -->
  <rules>
    <!-- Rule for file logging -->
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>