<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Define the targets where the logs are to be written -->
  <targets>
    <!-- Existing file target -->
    <target name="logfile" xsi:type="File"
            fileName=".\logs\${shortdate}_logfile.txt"
            layout="${longdate} ${level:uppercase=true} ${message}" />

    <!-- Network target for sending logs to an endpoint -->
    <target name="logserver" xsi:type="Network"
            address="http://yourlogserver.com/api/log"
            layout="${longdate} ${level:uppercase=true} ${message}"
            onOverflow="Split"
            newline="true"
            keepConnection="false"
            encoding="utf-8" />
  </targets>

  <!-- Define rules to map from logger name to target -->
  <rules>
    <!-- Existing rule for file logging -->
    <logger name="*" minlevel="Debug" writeTo="logfile" />

    <!-- Rule for sending logs to the network endpoint -->
    <logger name="*" minlevel="Debug" writeTo="logserver" />
  </rules>
</nlog>